@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

 <li class="dropdown">
    <a href="" class="dropdown-toggle no-after peers fxw-nw ai-c lh-1" data-toggle="dropdown">
    <div class="peer mR-10">
        <img class="w-2r bdrs-50p" src="https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png" alt="">
    </div>
    <div class="peer">
        <span class="fsz-sm c-grey-900">@UserManager.GetUserName(User)</span>
    </div>
    </a>
    <ul class="dropdown-menu fsz-sm">
        <li>
            <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Torneo", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Cerrar Sesion</button>
            </form>
        </li>
    </ul>
</li>



