
@model SAN_ISIDRO.Models.CedulaPartido
@section CSS {
    <link rel="stylesheet" href="~/css/customCSS/card-select.css">
}

<div class="bd bgc-white p-20">
    <h1>Cedula del Partido</h1>
    <p class="d-none" id="IdPartido">@Model.Id</p>
    <hr>
    <div class="d-flex flex-wrap align-items-center">
        <div class="col-md-6 d-flex">
            <div class="col-md-5">
                @Model.Local
            </div>
            <div class="col-md-2">
                VS
            </div>
            <div class="col-md-5">
                @Model.Visitante
            </div>
        </div>
        <div class="col-md-3">
            <div class="col-md-12">
                <b>Fecha: @Model.Fecha </b>
            </div>
            <div class="col-md-12">
                <b>Hora: @Model.Hora </b>
            </div>
        </div>
        <div class="col-md-3">
            <div class="col-md-12">
                <b>Lugar: @Model.Lugar</b>
            </div>
            <div class="col-md-12">
                <b>Arbitro: @Model.Arbitro</b>
            </div>
        </div>
    </div>
    <hr>
    <div class="d-flex flex-wrap align-items-center">
        <div class="col-md-6 d-flex">
            <label><b>Representante Local:</b> @Model.RepresentanteLocal</label>
        </div>
        <div class="col-md-6 d-flex">
            <label><b>Representante Visita:</b> @Model.RepresentanteVisitante</label>
        </div>
    </div>
    <hr>
    <div class="d-flex flex-wrap align-items-center">
        <div class="col-md-12">
            <h3>Resultados</h3>
        </div>
        <div class="col-md-12 align-items-center" id="result">
            <div class="col-md-8 flex-wrap mr-auto ml-auto d-flex mb-2">
                <h4>Set 1</h4>
                <div class="col-md-3 mr-auto ml-auto d-flex mb-1">
                    <button class="btn btn-danger" data-decrease>-1</button>
                    <input class="text-center with-format-price" data-value type="text" value="0" type="number" />
                    <button class="btn btn-success" data-increase>+1</button>
                </div>
                <div class="col-md-3 mr-auto ml-auto d-flex mb-1">
                    <button class="btn btn-danger"  data-decrease>-1</button>
                    <input class="text-center with-format-price" data-value type="text" value="0" type="number" />
                    <button class="btn btn-success" data-increase>+1</button>
                </div>
            </div>

            <div class="col-md-8 flex-wrap mr-auto ml-auto d-flex mb-2">
                <h4>Set 2</h4>
                <div class="col-md-3 mr-auto ml-auto d-flex mb-1">
                    <button class="btn btn-danger" data-decrease>-1</button>
                    <input class="text-center with-format-price" data-value type="text" value="0" type="number" />
                    <button class="btn btn-success" data-increase>+1</button>
                </div>
                <div class="col-md-3 mr-auto ml-auto d-flex mb-1">
                    <button class="btn btn-danger"  data-decrease>-1</button>
                    <input class="text-center with-format-price" data-value type="text" value="0" type="number" />
                    <button class="btn btn-success" data-increase>+1</button>
                </div>
            </div>

            <div class="col-md-8 flex-wrap mr-auto ml-auto d-flex mb-2">
                <h4>Set 3</h4>
                <div class="col-md-3 mr-auto ml-auto d-flex mb-1">
                    <button class="btn btn-danger" data-decrease>-1</button>
                    <input class="text-center with-format-price" data-value type="text" value="0" type="number" />
                    <button class="btn btn-success" data-increase>+1</button>
                </div>
                <div class="col-md-3 mr-auto ml-auto d-flex mb-1">
                    <button class="btn btn-danger"  data-decrease>-1</button>
                    <input class="text-center with-format-price" data-value type="text" value="0" type="number" />
                    <button class="btn btn-success" data-increase>+1</button>
                </div>
            </div>
        </div>
        
    </div>
    <hr>

    <div class="row flex-wrap" id="infoPlayers">
        <div class="col-md-12 col-sm-12">
            <p>Definicion de Jugadores que asistieron al partido.</p>
        </div>
        <div class="col-md-12 col-sm-12">
            <div class="col-md-4 col-sm-12 mr-auto ml-auto">
                <button class="btn btn-success btn-block" disabled="true" id="guardarAsistencia">Guardar Asistencia</button>
            </div>
        </div>
        <div class="col-md-6 col-sm-12" id="locales">
            <h3>Local: @Model.Local</h3>
            <p id="countLocal">( 0 / @Model.EquipoLocal.Count )</p>
            @foreach (var local in Model.EquipoLocal)
            {
                <div class="c-selection-card card-player mb-2">
                    <div class="c-selection-card__header">
                        <div class="flex-container">
                            <div class="flex-check">
                                <input name='selection' class='c-selection-card__selector' type='checkbox'
                                    value='@local.id' />
                                <label>
                                    <div class="control__indicator"></div>
                                </label>
                            </div>
                            <div class="center">
                                <div class="c-selection-card__heading">
                                    @local.nombre
                                </div>
                            </div>
                            <div class="flex-title"></div>
                        </div>
                    </div>

                    <div class="c-selection-card__body">
                        <div class="c-selection-card__price">
                            <img class="img-fluid" style="height: 170px; width: 170px;" src="@local.img">
                        </div>
                    </div>
                    @if(local.isSocio)
                    {
                        <div class="c-selection-card__footer">
                            <div class="footer-item-left">Es Socio</div>
                            <div class="footer-item-right">@local.serie</div>
                        </div>
                    }
                </div>
            }
        </div>
        <div class="col-md-6 col-sm-12" id="visitantes">
            <h3>Visitante: @Model.Visitante</h3>
            <p id="countVisita">( 0 / @Model.EquipoVisitante.Count )</p>
            @foreach (var visitante in Model.EquipoVisitante)
            {
               <div class="c-selection-card card-player mb-2">
                    <div class="c-selection-card__header">
                        <div class="flex-container">
                            <div class="flex-check">
                                <input name='selection' class='c-selection-card__selector' type='checkbox'
                                    value='@visitante.id' />
                                <label>
                                    <div class="control__indicator"></div>
                                </label>
                            </div>
                            <div class="center">
                                <div class="c-selection-card__heading">
                                    @visitante.nombre
                                </div>
                            </div>
                            <div class="flex-title"></div>
                        </div>
                    </div>

                    <div class="c-selection-card__body">
                        <div class="c-selection-card__price">
                            <img class="img-fluid" style="height: 170px; width: 170px;" src="@visitante.img">
                        </div>
                    </div>
                    @if(visitante.isSocio)
                    {
                        <div class="c-selection-card__footer">
                            <div class="footer-item-left">Es Socio</div>
                            <div class="footer-item-right">@visitante.serie</div>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
    <hr>
    <div class="row flex-wrap" id="infoPlayers">
        <div class="col-md-12 col-sm-12">
            <h3>Evidencia de los Equipos</h3>
        </div>
        <div class="col-md-12 col-sm-12 mb-2">
            <div class="col-md-4 col-sm-12 mr-auto ml-auto">
                <button class="btn btn-success btn-block" id="saveEvidencia" disabled="true">Guardar Evidencia</button>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="col-md-6 col-sm-12 mr-auto ml-auto mb-2">
                <button class="btn btn-info btn-block" id="fotoLocal">Tomar Foto del Equipo Local</button>
            </div>
            <div id="zonaLocal" class="d-none text-center">
                <div class="d-flex flex-column">
                    <video id="videoLocal" width="640" autoplay style="width:100%"></video>
                    <button class="btn btn-dark" id="snapLocal">Tomar Foto</button>
                </div>
                <canvas class="d-none" id="canvasLocal" width="640" height="480" style="width:100%"></canvas>
                <button class="btn btn-danger" id="repeatLocal">Repetir Foto</button>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="col-md-6 col-sm-12 mr-auto ml-auto mb-2">
                <button class="btn btn-info btn-block" id="fotoVisita">Tomar Foto del Equipo Visitante</button>
            </div>
            <div id="zonaVisita" class="d-none text-center">
                <div class="d-flex flex-column">
                    <video id="videoVisita" width="640" autoplay style="width:100%"></video>
                    <button  class="btn btn-dark" id="snapVisita">Tomar Foto</button>
                </div>

                <canvas class="d-none" id="canvasVisita" width="640" height="480" style="width:100%"></canvas>
                <button class="btn btn-danger" id="repeatVisita">Repetir Foto</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/arbitros/cedula_partido.js"></script>
}