@model IEnumerable<SAN_ISIDRO.Models.Partido>

@foreach (var partido in Model)
{
    <div class="d-flex flex-wrap align-items-center">
        <div class="col-md-5 d-flex">
            <div class="col-md-5">
                @partido.Local.NombreEquipo
            </div>
            <div class="col-md-2">
                VS
            </div>
            <div class="col-md-5">
                @partido.Visitante.NombreEquipo
            </div>
        </div>
        <div class="col-md-3">
            <div class="col-md-12">
                <b>Fecha: </b> @partido.Fecha
            </div>
            <div class="col-md-12">
                <b>Hora: </b> @partido.Horario
            </div>
        </div>
        <div class="col-md-2">
            <div class="col-md-12">
                <b>Lugar: </b> @partido.Lugar.Nombre
            </div>
            <div class="col-md-12">
                <b>Arbitro: </b> @partido.Arbitro.NombreUsuario
            </div>
        </div>
        <div class="col-md-2">
            <div class="btn btn-group">
                <a href="/Arbitros/CedulaPartido?IdPartido=@(partido.Id)" target="_blank" class="btn btn-info">Comenzar Cedula del Partido</a>
            </div>
        </div>
    </div>
    <hr>
}