@model SAN_ISIDRO.Models.ViewModels.RegistroViewModel

<div class="bd bgc-white p-20">
    @if(!Model.IsCedulaDefined)
    {
        <h1>Registro de Equipo</h1>
    }
    else
    {
        <h1>Detalle del Equipo</h1>
    }
    
    <h4>Cedula de Inscripcion</h4>
    <hr>
    <div class="d-flex mb-1 flex-wrap">
        <div class="col-md-6 col-sm-12 form-group">
            <label><b>Nombre del Equipo</b></label>
            <input placeholder="Nombre del Equipo" id="nameTeam" class="form-control">
        </div>
        <div class="col-md-6 col-sm-12 form-group">
            <label><b>Categoria</b></label>
            <select class="form-control" id="categoria">
                @foreach (var cat in Model.Categorias)
                {
                    <option value="@cat.Id">@cat.Nombre</option>
                }
            </select>
        </div>
    </div>
    <div class="d-flex mb-2 align-items-center flex-wrap">
        <div class="col-md-1 col-sm-12">
            <label><b>Representante</b></label>
        </div>
        <div class="col-md-5 col-sm-12">
            <input placeholder="Representante" id="mainRepresentante" class="form-control">
        </div>
        <div class="col-md-1 col-sm-12">
            <label>Y/O</label>
        </div>
        <div class="col-md-5 col-sm-12">
            <input placeholder="Representante Alterno" id="alterRepresentante" class="form-control">
        </div>
    </div>
    <div class="d-flex flex-wrap">
        <div class="col-md-4 col-sm-12 form-group">
            <label><b>Celular</b></label>
            <input placeholder="Celular" id="celular" class="form-control">
        </div>
        <div class="col-md-4 col-sm-12 form-group">
            <label><b>Correo Electronico</b></label>
            <input placeholder="Correo Electronico" id="email" class="form-control">
        </div>
        <div class="col-md-4 col-sm-12 form-group">
            <label>Telefono</label>
            <input placeholder="Telefono" id="telefono" class="form-control">
        </div>
    </div>
    <div class="col-md-8 ml-auto mr-auto" id="errorMain"></div>
    <div class="col-md-4 ml-auto mr-auto">
        @if(!Model.IsCedulaDefined)
        {
            <button class="btn btn-success btn-block" id="saveInscripcion">Guardar</button>
        }
        else
        {
            <button class="btn btn-warning btn-block" id="saveInscripcion">Actualizar</button>
        }
    </div>
    <hr>
    <div class="row flex-wrap" id="infoPlayers">
    </div>
</div>

@section Scripts {
    <script>
        var context = {
            Id: 0,
            Equipo: {},
            Jugadores : []
        };

        var isDefinedTeam = "@Model.IsCedulaDefined" == "True";

        $(document).ready(function(){
            if(isDefinedTeam){
                LoadTeam();
            }else{
                LoadToCreateTeam();
            }
        });

        function LoadTeam(){
            ajaxLoad("GET","/Torneo/ObtenerEquipo", 0, function(data){
                var response = JSON.parse(data);

                context.Id = response.result.Id;

                $("#nameTeam").val(response.result.NombreEquipo);
                $("#categoria").val(response.result.IdCategoria);
                $("#mainRepresentante").val(response.result.Representante);
                $("#alterRepresentante").val(response.result.RepresentanteAlterno);
                $("#celular").val(response.result.Celular);
                $("#email").val(response.result.Email);
                $("#telefono").val(response.result.Telefono);

                 for(var i =  1; i <= 14; i++){
                    var v = response.result.Jugadores[(i-1)];
                    if(v == null){
                        v = {
                                nombre: '',
                                isSocio: false,
                                serie: '',
                                img: '', 
                                hasError: false
                            };
                    }
                    var html =  '  <div class="col-md-6 col-sm-12">  '  + 
                            '       <div class="card">  '   +
                            '           <p class="text-center">Jugador '+i+'</p>  '  + 
                            '           <div class="d-flex align-items-center">  '  + 
                            '               <div class="col-8">  '  + 
                            '                   <div class="form-group">  '  + 
                            '                       <label>Nombre</label>  '  + 
                            '                       <input placeholder="Nombre" id="nombre" class="form-control" value="'+v.nombre+'">  '  + 
                            '                   </div>  '  + 
                            '                   <div class="row">  '  + 
                            '                       <div class="col-4">  '  + 
                            '                           <div class="form-group">  '  + 
                            '                               <label>Es Socio</label>  '  + 
                            '                               <div class="d-flex flex-wrap justify-content-between">  '  + 
                            '                                   <div class="checkbox checkbox-circle checkbox-info peers ai-c mB-15 " data-value="'+i+'" data-way="true">  '  + 
                            '                                       <input type="checkbox" id="player'+i+'-a" class="peer player'+i+'" data-way="true" '+(v.isSocio ? 'checked': '')+'>  '  + 
                            '                                       <label for="player'+i+'-a" class="peers peer-greed js-sb ai-c">  '  + 
                            '                                           <span class="peer peer-greed">Si</span>  '  + 
                            '                                       </label>  '  + 
                            '                                   </div>  '  + 
                            '                                   <div class="checkbox checkbox-circle checkbox-info peers ai-c mB-15 " data-value="'+i+'" data-way="false">  '  + 
                            '                                       <input type="checkbox" id="player'+i+'-b" class="peer player'+i+'" data-way="false" '+(v.isSocio ? '': 'checked')+'>  '  + 
                            '                                       <label for="player'+i+'-b" class="peers peer-greed js-sb ai-c">  '  + 
                            '                                           <span class="peer peer-greed">No</span>  '  + 
                            '                                       </label>  '  + 
                            '                                   </div>  '  + 
                            '                               </div>  '  + 
                            '                           </div>  '  + 
                            '                       </div>  '  + 
                            '                       <div class="col-8">  '  + 
                            '                           <div class="form-group player'+i+' '+(v.isSocio ? '': ' d-none')+'">  '  + 
                            '                               <label>Serie</label>  '  + 
                            '                               <input type="text" id="serie" class="form-control" maxlength="5" value="'+(v.serie != null ? v.serie : '')+'">  '  + 
                            '                           </div>  '  + 
                            '                       </div>  '  + 
                            '                   </div>  '  + 
                            '               </div>  '  + 
                            '               <div class="col-4">  '  + 
                            '                   <div class="small-12 large-4 columns text-center">  '  + 
                            '                       <div class="containers">  '  + 
                            '                           <div class="imageWrapper">  '  + 
                            '                               <img class="image" src="'+v.img+'">  '  + 
                            '                           </div>  '  + 
                            '                       </div>  '  + 
                            '                       <button class="file-upload">  '  + 
                            '                           <input type="file" class="file-input">Elegir Imagen  '  + 
                            '                       </button>  '  + 
                            '                   </div>  '  + 
                            '               </div>  '  + 
                            '           </div>  '  + 
                            '           <div class="col-md-8 ml-auto mr-auto error'+i+'">  '   +
                            '           </div>  '   +
                            '       </div>  '   +
                            '  </div>  ' ; 
                    $("#infoPlayers").append(html);
                };

            });
        }

        function LoadToCreateTeam(){
            for(var i =  1; i <= 14; i++){
                var html =  '  <div class="col-md-6 col-sm-12">  '  + 
                            '   <div class="card">  '   +
                            '       <p class="text-center">Jugador '+i+'</p>  '  + 
                            '       <div class="d-flex align-items-center">  '  + 
                            '           <div class="col-8">  '  + 
                            '               <div class="form-group">  '  + 
                            '                   <label>Nombre</label>  '  + 
                            '                   <input placeholder="Nombre" id="nombre" class="form-control">  '  + 
                            '               </div>  '  + 
                            '               <div class="row">  '  + 
                            '                   <div class="col-4">  '  + 
                            '                       <div class="form-group">  '  + 
                            '                           <label>Es Socio</label>  '  + 
                            '                           <div class="d-flex flex-wrap justify-content-between">  '  + 
                            '                               <div class="checkbox checkbox-circle checkbox-info peers ai-c mB-15 " data-value="'+i+'" data-way="true">  '  + 
                            '                                   <input type="checkbox" id="player'+i+'-a" class="peer player'+i+'" data-way="true">  '  + 
                            '                                   <label for="player'+i+'-a" class="peers peer-greed js-sb ai-c">  '  + 
                            '                                       <span class="peer peer-greed">Si</span>  '  + 
                            '                                   </label>  '  + 
                            '                               </div>  '  + 
                            '                               <div class="checkbox checkbox-circle checkbox-info peers ai-c mB-15 " data-value="'+i+'" data-way="false">  '  + 
                            '                                   <input type="checkbox" id="player'+i+'-b" class="peer player'+i+'" data-way="false" checked>  '  + 
                            '                                   <label for="player'+i+'-b" class="peers peer-greed js-sb ai-c">  '  + 
                            '                                       <span class="peer peer-greed">No</span>  '  + 
                            '                                   </label>  '  + 
                            '                               </div>  '  + 
                            '                           </div>  '  + 
                            '                       </div>  '  + 
                            '                   </div>  '  + 
                            '                   <div class="col-8">  '  + 
                            '                       <div class="form-group player'+i+' d-none">  '  + 
                            '                           <label>Serie</label>  '  + 
                            '                           <input type="text" id="serie" class="form-control" maxlength="5">  '  + 
                            '                       </div>  '  + 
                            '                   </div>  '  + 
                            '               </div>  '  + 
                            '           </div>  '  + 
                            '           <div class="col-4">  '  + 
                            '               <div class="small-12 large-4 columns text-center">  '  + 
                            '                   <div class="containers">  '  + 
                            '                       <div class="imageWrapper">  '  + 
                            '                           <img class="image" src="">  '  + 
                            '                       </div>  '  + 
                            '                   </div>  '  + 
                            '                   <button class="file-upload">  '  + 
                            '                       <input type="file" class="file-input">Elegir Imagen  '  + 
                            '                   </button>  '  + 
                            '               </div>  '  + 
                            '           </div>  '  + 
                            '       </div>  '  + 
                            '       <div class="col-md-8 ml-auto mr-auto error'+i+'">  '   +
                            '       </div>  '   +
                            '   </div> '    +
                            '  </div>  ' ; 
                    $("#infoPlayers").append(html);
            }
        }

        $(document).on('click',".checkbox-circle",function(evt){
            var playerId = $(this).data('value');
            var way = $(this).data('way');

            if(way){
                if($("#player"+playerId+"-b").is(':checked')){
                    $("#player"+playerId+"-b").click();
                }
                $("div.player"+playerId).removeClass("d-none");
            }else{
                if($("#player"+playerId+"-a").is(':checked')){
                    $("#player"+playerId+"-a").click();
                }
                $("div.player"+playerId).addClass("d-none");
            }

             if(!$("#player"+playerId+"-a").is(':checked')){
                $("div.player"+playerId).addClass("d-none");
            }

        });

        function CaptureDataForm(){
            var log = [];
            $("#errorMain").html('');
            var errorDisplay = $("#errorMain");
            var nombreEquipo = $("#nameTeam").val();
            var categoria = $("#categoria").val();
            var representante = $("#mainRepresentante").val();
            var representanteAlterno = $("#alterRepresentante").val();
            var celular = $("#celular").val();
            var email = $("#email").val();
            var telefono = $("#telefono").val();

            if(nombreEquipo == ""){
                log.push('Es necesario definir el <b>Nombre del Equipo</b>.')
            }
            if(categoria == null){
                log.push('Es necesario definir la <b>Categoria</b>.')
            }
            if(representante == ""){
                log.push('Es necesario definir el <b>Representante</b>.')
            }
            if(celular == ""){
                log.push('Es necesario definir el <b>Celuar</b> del representante.')
            }
            if(email == ""){
                log.push('Es necesario definir el <b>Email</b> del representante.')
            }

            if(log.length > 0){
                for(var i = 0; i < log.length; i++){
                    ShowError(errorDisplay,log[i]);
                }
                return null;
            } 
            else 
            {
                return {
                    NombreEquipo: nombreEquipo,
                    IdCategoria: categoria,
                    Representante: representante,
                    RepresentanteAlterno: representanteAlterno,
                    Celular: celular,
                    Email: email,
                    Telefono: telefono
                };
            }
            
        }

        $(document).on('click','#saveInscripcion',function(evt){
            evt.preventDefault();
            var captureData = CaptureDataForm();
            if(captureData == null){
                return;
            }
            
            context.Equipo = captureData;

            $("[class*=' error']").html('');
            var jugadores = [];

            $(".card").each(function(i, e){
                var jugador = {
                    nombre: '',
                    isSocio: false,
                    serie: '',
                    img: '', 
                    hasError: false
                }
                var index = i + 1;
                var errorContainer = $(this).find(".error"+index);

                var nombre = $(this).find("#nombre").val();
                var img = $(this).find("img").attr('src');
                if(nombre != "")
                {
                    jugador.nombre = nombre;
                    var isSocio = $(this).find(".checkbox-circle input.peer:checked");
                    if(isSocio.length == 0){
                        ShowError(errorContainer,'Es necesario definir si el Jugador es Socio.');
                        jugador.hasError = true;
                    }else{
                        var way = isSocio.data('way');
                        if(way){
                            var serie = $(this).find("#serie").val();
                            if(serie.length != 5){
                                ShowError(errorContainer,'Es necesario definir el Numero de Serie. Son 5 caracteres.');
                                jugador.hasError = true;
                            }else{
                                jugador.isSocio = true;
                                jugador.serie = serie;
                            }
                        }
                    }
                    if(img == ""){
                        ShowError(errorContainer,'Es necesario definir una Imagen del Jugador.');
                        jugador.hasError = true;
                    }else{
                        jugador.img = img;
                    }

                    jugadores.push(jugador);
                } else {
                    if(img != ""){
                        ShowError(errorContainer,'Es necesario definir el Nombre del Jugador.');
                        jugador.hasError = true;
                        jugadores.push(jugador);
                    }
                }

            });

            var isNotHasError = jugadores.every(function (v, i) {
                return v.hasError == false;
            });

            if(isNotHasError){
                context.Jugadores = jugadores;
                swal({
                    title: isDefinedTeam ? 'Actualizar Equipo' : 'Registro del Equipo',
                    allowOutsideClick: false,
                    allowEnterKey: false,
                    showCancelButton: true,
                    cancelButtonText: 'Cancelar',
                    confirmButtonText: isDefinedTeam ? 'Actualizar' : 'Aceptar',
                    html: '<div class="text-left"><p><b>Nombre Equipo:</b> '+ context.Equipo.NombreEquipo +'</p>' +
                          '<p><b>Categoria:</b> ' + $("#categoria option:selected").text() + '</p>' +
                          '<p><b>Representante:</b> ' + context.Equipo.Representante + '</p>' +
                          (context.Equipo.RepresentanteAlterno != "" ?  '<p><b>Representante Alterno:</b> ' + context.Equipo.RepresentanteAlterno + '</p>'  : '' ) +
                          '<p><b>Celular:</b> ' + context.Equipo.Celular + '</p>' +
                          '<p><b>Correo Electronico:</b> ' + context.Equipo.Email + '</p>' +
                          (context.Equipo.Telefono != "" ?  '<p><b>Telefono:</b> ' + context.Equipo.Telefono + '</p>': '') +
                          '<p>Nombre de las Integrantes del Equipo: </p>' +
                          '<ol id="jugadores">' + 
                          '</ol>'+
                          '<p>Solo se registraran '+context.Jugadores.length+' jugadores.</p><p>Estas seguro que deseas continuar?</p></div>'
                }).then(function (result) {
                    if (result.value) {
                        if(isDefinedTeam){
                            UpdateTeam()
                        }else{
                            RegisterTeam();
                        }
                    } else {
                        swal(
                            'Cancelado',
                            'No se realizo la accion.',
                            'error'
                        );
                    }
                });

                context.Jugadores.forEach(function(v,i){
                    $("#jugadores").append( '<li>'+v.nombre+'</li>' );         
                });
            }
        });   

        function RegisterTeam(){
            ajaxLoad("POST","/Torneo/Registrar/", JSON.stringify(context),function(data){
                var response = JSON.parse(data);
                if(response.result){
                    swal(
                            'Exito',
                            'Exito el Equipo fue Registrado correctamente',
                            'success'
                        ).then(function(val){
                            window.location.reload(true);
                        });
                }else{
                     swal(
                            'Error',
                            ressponse.message,
                            'info'
                        );
                }
            });
        } 

        function UpdateTeam(){
            ajaxLoad("POST","/Torneo/Actualizar/", JSON.stringify(context),function(data){
                var response = JSON.parse(data);
                if(response.result){
                    swal(
                            'Exito',
                            'Exito el Equipo fue Actualizado correctamente',
                            'success'
                        ).then(function(val){
                            window.location.reload(true);
                        });
                }else{
                     swal(
                            'Error',
                            ressponse.message,
                            'info'
                        );
                }
            });
        } 

        $(document).on('change','.file-input',function(){
            var curElement = $(this).parent().parent().find('.image');

            var reader = new FileReader();

            reader.onload = function (e) {
                curElement.attr('src', e.target.result);
            };

            reader.readAsDataURL(this.files[0]);
        });
    </script>
}