#THEME .login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

#THEME .form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#THEME .form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
}

#THEME .form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

#THEME .form button:hover, #THEME .form button:active, #THEME .form button:focus {
  background: #43A047;
}

#THEME .form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

#THEME .form .message a {
  color: #4CAF50;
  text-decoration: none;
}

#THEME .form .register-form {
  display: none;
}

#THEME .container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}

#THEME .container:before, #THEME .container:after {
  content: "";
  display: block;
  clear: both;
}

#THEME .container .info {
  margin: 50px auto;
  text-align: center;
}

#THEME .container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}

#THEME .container .info span {
  color: #4d4d4d;
  font-size: 12px;
}

#THEME .container .info span a {
  color: #000000;
  text-decoration: none;
}

#THEME .container .info span .fa {
  color: #EF3B3A;
}

#THEME textarea {
  max-width: 100%;
  min-width: 100%;
  width: 100%;
  height: 150;
}

body#THEME.loginPage {
  background: #92FFC0;
  /* fallback for old browsers */
  background-image: -webkit-gradient(linear, right top, left top, color-stop(10%, #92FFC0), to(#002661));
  background-image: linear-gradient(right, #92FFC0 10%, #002661 100%);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div .space-menu div > a {
  margin: 15px 0px;
  margin-left: auto;
  margin-right: auto;
}

div div.not-space {
  padding-right: 0px;
  padding-left: 0px;
}

div div.little-space {
  padding-right: 5px;
  padding-left: 5px;
}

div div#tableInfo {
  max-width: 100%;
  max-height: 400px;
  padding-top: 5px;
  padding-bottom: 5px;
  overflow-x: auto;
  overflow-y: auto;
}

div .scroll-table {
  max-width: 100%;
  max-height: 400px;
  padding-top: 5px;
  padding-bottom: 5px;
  overflow-x: auto;
  overflow-y: auto;
}

.form-group {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.index-btn h3 {
  margin-bottom: 0px;
}

@media (min-width: 768px) {
  .space-menu div > a {
    width: 50%;
  }
}

textarea {
  max-width: 100%;
  min-width: 100%;
  width: 100%;
}

table thead th {
  text-align: center;
}

table thead tr:nth-child(1) th {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 10;
  border: 1px solid #ddd;
  background-color: #eaeaea;
}

video {
  width: 100%;
}

canvas {
  display: inline;
}

.drawingBuffer {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.bootstrap-select > .dropdown-toggle {
  position: relative;
  width: 100%;
  z-index: 1;
  text-align: right;
  white-space: nowrap;
  background-color: white;
  color: black;
  border: 1px solid #eee;
  border-radius: 50px;
}

.bootstrap-select.show button.btn.dropdown-toggle {
  background-color: white;
  color: #999 !important;
}

/*
  Image Upload
*/
.containers {
  height: 160px;
  position: relative;
  max-width: 320px;
  margin: auto;
}

.containers .imageWrapper {
  border: 3px solid #888;
  width: 70%;
  padding-bottom: 70%;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.containers .imageWrapper img {
  height: 105%;
  width: initial;
  max-height: 100%;
  max-width: initial;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.file-upload {
  position: relative;
  overflow: hidden;
  margin: 10px;
}

.file-upload {
  position: relative;
  overflow: hidden;
  margin: 10px;
  text-align: center;
  color: black;
  font-size: 1.2em;
  border: 2px solid #888;
  padding: .85em 1em;
  display: inline;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.file-upload input.file-input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
  height: 100%;
}

.datepicker {
  z-index: 9999 !important;
}
/*# sourceMappingURL=main.css.map */