@page
@model LoginModel

@{
    ViewData["Title"] = "Iniciar Sesion";
}

<div class="login-page">
    <div class="form">
        <form class="login-form" method="post">
             <!-- <img src="https://drive.google.com/uc?export=view&id=140i8Uaq9cLImRueSICrc67cFJbIwgSMK" class="img-fluid" style="width: 50%;"> -->
            <h2>Torneo de Voleibol</h2>
            <hr/>
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="text" asp-for="Input.UserName" placeholder="Nombre de Usuario"/>
            <span asp-validation-for="Input.UserName" class="text-danger"></span>
            <input type="password" placeholder="Contraseña"  asp-for="Input.Password"/>
            <span asp-validation-for="Input.Password" class="text-danger"></span>
            <!-- <div class="form-group">
                <div class="checkbox">
                    <label asp-for="Input.RememberMe">
                        <input asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
            </div> -->
            <button type="submit">Acceder</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
