@model SAN_ISIDRO.Models.ViewModels.AdministracionViewModel

<div class="bd bgc-white p-20">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#usuarios" role="tab" aria-controls="home"
                aria-selected="true" data-value="0">Usuarios</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#arbitros" role="tab" aria-controls="profile"
                aria-selected="false" data-value="1">Arbitros</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#panel" role="tab" aria-controls="contact"
                aria-selected="false">Panel</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="usuarios" role="tabpanel" aria-labelledby="home-tab">
            <div class="d-flex justify-content-between align-items-center">
                <div class="col">
                    <h1>Usuarios</h1>
                </div>
                <div class="col text-right">
                    <button class="btn btn-success" id="addContacto">Agregar Usuario</button>
                </div>
            </div>


            <div class="row table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-left">Usuario</th>
                            <th class="text-left">Equipo</th>
                            <th class="text-left">Categoria</th>
                            <th class="text-left">Creacion del Equipo</th>
                            <th class="col-1"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var usuario in Model.Usuarios)
                        {
                            <tr>
                                <td>@usuario.NombreUsuario</td>
                                <td>@(usuario.Equipo?.NombreEquipo ?? " ")</td>
                                <td>@(usuario.Equipo?.Categoria ?? " ")</td>
                                <td>@(usuario.Equipo?.FechaCreacion.ToString("dd/MM/yyyy hh:mm tt") ?? " ")</td>
                                <td class="text-center">
                                    @if(usuario.Equipo != null)
                                    { 
                                        <a target='_blank' href='/Torneo/VerEquipo?IdEquipo=@usuario.Equipo.Id' class='btn btn-info'>Ver Equipo</a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane fade" id="arbitros" role="tabpanel" aria-labelledby="profile-tab">
            <div class="d-flex justify-content-between align-items-center">
                <div class="col">
                    <h1>Arbitros</h1>
                </div>
                <div class="col text-right">
                    <button class="btn btn-success" id="addContacto">Agregar Arbitro</button>
                </div>
            </div>


            <div class="row table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-left">Arbitro</th>
                            <th class="col-1"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var usuario in Model.Arbitros)
                        {
                            <tr>
                                <td>@usuario.NombreUsuario</td>
                                <td class="text-center">
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane fade" id="panel" role="tabpanel" aria-labelledby="contact-tab"></div>
    </div>
</div>



@section Scripts {
    <script>
        $(document).on('submit',"#register-form",function(evt){
            evt.preventDefault();
            var isDefineTwoPsw = true;
            var errorContainer = $("#errorContainer");
            errorContainer.html('');
            var log = [];
            var nombre = $("#userName").val();
            var password = $("#password").val();
            var confirm_password = $("#confirm_password").val();

            if(nombre == ""){
                log.push("Es necesario definir el <b>Nombre de Usuario</b>");
            }
            if(password == ""){
                log.push("Es necesario definir la <b>Contraseña</b>, al menos 4 caracteres.");
                isDefineTwoPsw = false;
            }
            if(confirm_password == ""){
                log.push("Es necesario definir <b>Confirmar Contraseña</b>, al menos 4 caracteres.") ;
                isDefineTwoPsw = false;               
            }

            if(isDefineTwoPsw && password != confirm_password){
                log.push("Las contraseñas no coindiden, es necesario verificarlas");
            }

            if(log.length > 0){
                for(var i = 0 ; i < log.length; i++){
                    ShowError(errorContainer,log[i]);
                }
            }else{
                var result = {
                    Nombre : nombre,
                    Password : password
                };
                var kind = $(".nav-link.active").data('value');
                console.log(kind);
                if(kind == 0) {
                    RegistrarUsuario(result);
                } else if(kind == 1) {
                    RegistrarArbitro(result);
                }
                
            }
        });

        function RegistrarUsuario(User){
            ajaxLoad("POST","/Administrador/RegistrarUsuario/",JSON.stringify(User),function(data){
                var response =  JSON.parse(data);
                if(response.result){
                    swal('Exito',
                        response.message,
                        'success').then(function(result){
                            window.location.reload(true);
                        });
                }else{
                    swal('Advertencia',
                    response.message,
                    'error');
                }
            });
        }

        function RegistrarArbitro(User){
            ajaxLoad("POST","/Administrador/RegistrarArbitro/",JSON.stringify(User),function(data){
                var response =  JSON.parse(data);
                if(response.result){
                    swal('Exito',
                        response.message,
                        'success').then(function(result){
                            window.location.reload(true);
                        });
                }else{
                    swal('Advertencia',
                    response.message,
                    'error');
                }
            });
        }

        $(document).on('click','#addContacto',function(evt){
            evt.preventDefault();
            ajaxLoad("GET","/Administrador/GetModalRegistrar",0,function(data){
                var response = JSON.parse(data);
                $("#modalTitle").text("");
                $("#modalBody").html(response.html);
                $("#modal").appendTo("body").modal({
                    backdrop: 'static'
                }).modal("show");
            });
        });
    </script>
}