
<div class="login-page pt-0" style="width: 100%;">
    <div class="form mb-0" style="max-width: 100%;margin-left: 0 !important;margin-right: 0 !important;">
        <form id="register-form" method="post">
            <h2>Registrar Usuario</h2>
            <hr/>
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="text" id="userName"  placeholder="Nombre de Usuario"/>
            <input type="password" placeholder="Contraseña" id="password"  />
            <input type="password" placeholder="Confirmar Contraseña" id="confirm_password"  />
            <button type="submit">Agregar</button>
            <div class="col-md-11 mr-auto ml-auto mt-3" id="errorContainer"></div>
        </form>
    </div>
</div>