.flex-container {
    display: flex;
}

.flex-check,
.flex-title {
    flex: 1;
}

body {
    font-family: "aktiv-grotesk-std", sans-serif;
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.c-selection {
    box-sizing: border-box;
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 608px;
    margin: 60px;
}

.c-selection-card {
    border: 2px solid #D6DDE3;
    border-radius: 4px;
    padding: 15px;
    cursor: pointer;
    box-sizing: border-box;
    max-width: 100%;
    min-width: 0;
    flex: 1;
}

.c-selection-card__heading {
    color: #394956;
    font-size: 12px;
    letter-spacing: 1.85px;
    text-transform: uppercase;
}

.c-selection-card__price {
    color: #394956;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 32px;
    font-weight: 500;
}

.c-selection-card__footer {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.c-selection-card__body {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.c-selection-card__currency {
    font-size: 20px;
    margin-top: -4px;
}

.c-selection-card__frequency {
    color: #93A1AF;
    font-size: 12px;
}

.c-selection-card:hover {
    background-color: rgba(0, 0, 0, 0.025);
    transition: all .1s ease-in-out;
}

.c-selection-card.selected {
    border: 2px solid #3096D5;
    transition: all 0.5s ease;
}

.selection-gap>* {
    margin-left: 20px;
}

input[type='checkbox'] {
    height: 0;
    width: 0;
    display: none;
}

input[type='checkbox']+label {
    font-size: 24px;
    position: relative;
    cursor: pointer;
    display: flex;
    margin: 0;
    align-items: center;
    color: #9e9e9e;
    transition: color 250ms cubic-bezier(0.4, 0, 0.23, 1);
}

input[type='checkbox']+label>.control__indicator {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1em;
    width: 1em;
    height: 1em;
    background: transparent;
    border: 2px solid #D6DDE3;
    border-radius: 2px;
    cursor: pointer;
    transition: all 250ms cubic-bezier(0.4, 0, 0.23, 1);
}

input[type='checkbox']+label:hover,
input[type='checkbox']:focus+label {
    color: #fff;
}

input[type='checkbox']+label:hover>.control__indicator,
input[type='checkbox']:focus+label>.control__indicator {
    background: rgba(255, 255, 255, 0.1);
}

input[type='checkbox']:checked+label>.control__indicator {
    border: .5em solid #3096D5;
    animation: shrink-bounce 200ms cubic-bezier(0.4, 0, 0.23, 1);
}

input[type='checkbox']:checked+label>.control__indicator:before {
    content: "";
    position: absolute;
    top: 0.55em;
    left: 0.25em;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    transform: rotate(45deg);
    transform-origin: 0% 100%;
    animation: checkbox-check 100ms 200ms cubic-bezier(0.4, 0, 0.23, 1) forwards;
}

@keyframes shrink-bounce {
    0% {
        transform: scale(1);
    }

    33% {
        transform: scale(0.85);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes checkbox-check {
    0% {
        width: 0;
        height: 0;
        border-color: #fff;
        transform: translate3d(0, 0, 0) rotate(45deg);
    }

    33% {
        width: .2em;
        height: 0;
        transform: translate3d(0, 0, 0) rotate(45deg);
    }

    100% {
        width: .2em;
        height: .5em;
        border-color: #fff;
        transform: translate3d(0, -0.5em, 0) rotate(45deg);
    }
}

.footer-item-right {
    color: #9B9B9B;
    font-size: 12px;
    margin-right: 10px;
}

.footer-item-left {
    color: #4BC27D;
    font-weight: 500;
    font-size: 12px;
    margin-left: 10px;
}

.text-grey {
    color: #9B9B9B;
    font-weight: 400;
}