@model SAN_ISIDRO.Models.ViewModels.RegistroPartidoViewModel

<div class="row m-3">
    <div class="col-12 mr-1 ml-1 form-group">
        <label>Categoria</label>
        <select id="select-categoria" class="form-control">
            @foreach (var categoria in Model.Categorias)
            {
                <option value="@categoria.Id">@categoria.Nombre</option>
            }
        </select>
    </div>
    <div class="col-12 d-flex mb-2">
        <div class="col-6 form-group">
            <label>Equipo Local</label>
            <select class="form-control" id="select-equipo-local">
                <option value="0">Seleccionar una Categoria</option>
            </select>
        </div>
        <div class="col-6 form-group">
            <label>Equipo Visitante</label>
            <select class="form-control" id="select-equipo-visitante">
                <option value="0">Seleccionar una Categoria</option>
            </select>
        </div>
    </div>
    <div class="col-12 d-flex mb-2">
        <div class="col-6 form-group">
            <label>Fecha Partido</label>
            <input type="text" class="datepicker-here form-control" data-language="es" id="fecha-partido">
        </div>
        <div class="col-6 form-group">
            <label>Hora Partido</label>
            <input type="text" class="form-control" id="hora-partido">
        </div>
    </div>
    <div class="col-12 d-flex mb-2">
        <div class="col-6 form-group">
            <label>Lugar</label>
            <select id="select-lugar" class="form-control">
                @foreach (var lugar in Model.Lugares)
                {
                    <option value="@lugar.Id">@lugar.Nombre</option>
                }
            </select>
        </div>
        <div class="col-6 form-group">
            <label>Arbitro</label>
            <select id="select-arbitro" class="form-control">
                @foreach (var arbitro in Model.Arbitros)
                {
                    <option value="@arbitro.Id">@arbitro.NombreUsuario</option>
                }
            </select>
        </div>
    </div>
    
    <div class="col-12 mb-2">
        <div class="col-4 mr-auto ml-auto">
            <button class="btn btn-success btn-block" id="add-partido">Agregar Partido</button>
        </div>
    </div>
    <div class="col-8 mr-auto ml-auto mb-2" id="error-container">
    </div>
</div>

