<div class="bd bgc-white p-20">
    <h4>Registro Partidos</h4>
    <hr>
    <div class="d-flex mb-1 flex-wrap">
        <div class="col">
            <button id="new-partido" class="btn btn-success btn-block">Registrar Partido</button>
        </div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
    </div>
    <hr>
    <div id="result">
        
    </div>
</div>

@section Scripts {
    <script src="~/js/partidos/main_partidos.js"></script>
    <script src="~/js/partidos/add_partidos.js"></script>
}